<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta charset="utf-8" />

    <!-- disable iPhone scale -->
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"
    />
    <title>Skin disease detection</title>
    <meta
      name="description"
      content="Take a photo of your skin lesion on a smartphone, and this will search the world’s largest dermatology textbook and show you the most relevant information."
    />

    <link href="static/css/style.css" rel="stylesheet" type="text/css" />
	<link rel="stylesheet" href="../static/css/owl.carousel.min.css">
    <link rel="stylesheet" href="../static/css/owl.theme.default.min.css">

	<script src="static/prefixfree/1-0-7/prefixfree.dynamic-dom.min.js"></script>
    <!-- jQuery -->
    <script src="static/ajax/libs/jquery/1-10-2/jquery.min.js"></script>
    <script src="static/ajax/libs/jqueryui/1-8/jquery-ui.min.js"></script>
	<script src="../static/js/owl.carousel.js"></script>
	<script src="../static/js/owl.carousel.min.js"></script>
    <script src="static/js/main.js"></script>
	<script src="static/js/upload.js"></script>


  </head>
  <body>
    <div id="header">
      <div class="header-bottom">
        <div class="container">
          <div class="header-menu-lst">
            <div class="menu-item">
              <a href="#database" class="nav-menu-item database menu-active"
                >Database</a
              >
            </div>
            <div class="menu-item">
              <a href="#skin-disease" class="nav-menu-item skin-disease">Skin disease</a>
            </div>
            <div class="menu-item">
              <a href="#predict-now" class="nav-menu-item predict-now">Predict Now</a>
            </div>
            <div class="menu-item">
              <a href="#contact" class="nav-menu-item contact">Contact</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- /#header -->
    <div id="banner" class="full-section">
      <img src="../static/images/back.png" alt="background" />
    </div>
    <div id="database" class="full-section">
      <div class="row-full-width-center-text">
        <div class="big-title-box">database</div>
      </div>
      <div class="container d-flex-justify-between">
        <div class="content-left">
          <img src="../static/images/database.png" alt="database.png" />
        </div>
        <div class="content-right">
          <div class="c-text-base">
            Unlike a typical published textbook or atlas, our reference image
            library is an ever-growing database of diagnosed images edited by
            our dermatologists.
          </div>
          <div class="c-text-base">
            Currently our database has 22,000 images of benign and malignant
            skin lesions for clinicians reviewing skin lesions for skin .
          </div>
        </div>
      </div>
    </div>
	<div id="skin-disease" class="full-section">
		<div class="container">
      <div class="row-full-width-center-text">
        <div class="big-title-box">Skin disease</div>
      </div>
      <div class="c-owl-prev"></div>
      <div class="c-owl-next"></div>
			<div class="owl-carousel">
				<div class="slide-item">
          <div class="d-flex-justify-between">
          <div class="content-left">
            <img class="diseaese-img" src="../static//images/di-1.jpg" alt="">
          </div>
          <div class="content-right">
            <div class="row-full-width-center-text">
              <h2 class="sub-sub-title">Actinic keratoses</h2>
            </div>
            <ul class="post-lst">
              <li>Actinic keratosis is a precancerous scaly spot found on sun-damaged skin, also known as solar keratosis. It may be considered an early form of cutaneous squamous cell carcinoma (a keratinocyte cancer).</li>
            </ul>
          </div>
          </div>
        </div>
       
        <div class="slide-item">
          <div class="d-flex-justify-between">
          <div class="content-left">
            <img class="diseaese-img" src="../static//images//banner-2.webp" alt="">
          </div>
          <div class="content-right">
            <div class="row-full-width-center-text">
              <h2 class="sub-sub-title">Cold sores</h2>
            </div>
            <ul class="post-lst">
              <li>A cold sore is a red, painful, fluid-filled blister that appears near the lips.</li>
              <li>he viruses herpes simplex 1 (HSV-1) and herpes simplex 2 (HSV-2) cause genital lesions as well as these types of oral lesions.</li>
              <li>The affected area often tingles or burns before the cold sore is visible.</li>
              <li>These blisters occur alone or in clusters. Cold sores weep clear yellow fluid before they crust over.</li>
              <li>Blisters may reoccur from stress, menstruation, illness, or sun exposure.</li>
            </ul>
          </div>
          </div>
        </div>

        <div class="slide-item">
          <div class="d-flex-justify-between">

          <div class="content-left"><img class="diseaese-img" src="../static//images//banner-3.webp" alt="">
          </div>
          <div class="content-right">
            <div class="row-full-width-center-text">
              <h2 class="sub-sub-title">Actinic keratosis</h2>
            </div>
            <ul class="post-lst">
              <li>An actinic keratosis is a thick, scaly, or crusty skin patch. It’s typically smaller than 2 centimeters (cm), or about the size of a pencil eraser.</li>
              <li>hIt appears on parts of the body that receive a lot of sun exposure, like the hands, arms, face, scalp, and neck.</li>
              <li>It’s usually pink but can have a brown, tan, or gray base.</li>
            </ul>
          </div>
          </div>
        </div>
			</div>
		</div>
	</div>
    <div id="predict-now" class="full-section">
      	<div class="row-full-width-center-text">
        	<div class="big-title-box">predict Now</div>
		</div>
		<div class="row-full-width-center-text">
        	<h2 class="sub-title">Upload a image to predict disease.</h2>
		</div>
        <div class="container d-flex-justify-between">
			<div class="content-left">
				<form
				class="form-group"
				action="..\detect"
				method="post"
				enctype="multipart/form-data"
			  >
				<div class="input-group">
				  <span class="input-group-btn">
					<span class="btn-file">
					  <input type="file" id="imgInp" name="file" />
					  <label for="imgInp" class="label-upload-image">Click to upload</label>
					</span>
				  </span>
				</div>
				<div class="image-uploaded-container">
					<img id="img-upload" src="" alt="uploaded image" accept="image/*">
				</div>
				<span id="image-upload-name">image upload name.</span>
				<input
				  type="submit"
				  id="upload"
				  class="btn btn-upload"
				  value="Check Now"
				/>
			  </form>
			</div>
       
		  <div class="content-right">
			<div id="result">
				<img src="../static/images/back.jpg" alt="bg" style="width: 100%;">
			</div>
		  </div>
        </div>
      </div>
    </div>
    <!-- /#content -->
    <div id="footer">
      <div class="container">
        <div class="d-flex-justify-between">
          <div class="footer_content-left">
            <div class="logo">
              <img src="../static/images/Logo_IUH.png" alt="logo UIH" />
            </div>
          </div>
          <div class="footer_content-right">
            <div class="c-text-lg">Võ Thị Ngọc Linh</div>
            <div class="c-text-lg">
              Industrial University of Ho Chi Minh City
            </div>
          </div>
        </div>
        <hr />
        <div class="c-text-lg">&copy; 2024, All rights reserved</div>
      </div>
    </div>
    <!-- /#footer -->
    <!-- /#pagewrap -->
  </body>
</html>
